# Java/Maven
/backend/target/
/backend/.mvn/
/backend/.settings/
/backend/.idea/
/backend/.env
/**/*.iml
**/target/
**/classpath
default

# Node
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.production.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

.env
.env.example
.env.production.local